// Here you can add other styles

// Headers
.standard-header {
    padding: 5rem 0 3.875rem;
    h1 {
        font-size: 3.5rem;
        font-weight: 600;
        line-height: 4.125rem;
        color: $bga-primary;
    }
    .version {
        font-size: .875rem;
        color: $bga-primary;
        span {
            color: $bga-primary-interactive;
        }
    }
}

// Content
.content {
    h2 {
        font-size: 1.250rem;
        font-weight: 600;
        letter-spacing: 0.2px;
        padding-top: 2rem;
        margin-bottom: 1.5rem;
    }
    h3 {
        font-size: 1.125rem;
        font-weight: 600;
        letter-spacing: 0.2px;
        padding-top: 2rem;
        margin-bottom: 1.5rem;
    }
    .intro {
        font-size: 1.250rem;
    }
    .demo-block {
        padding: 2rem 0;
    }
}

@include media-breakpoint-up(sm) {
    .animated {
        padding-left: 5rem;
        padding-right: 5rem;
        max-width: 1024px;
    }
}

// Nav
.app-header.navbar {
    border-top: 4px solid $bga-primary;
    border-bottom: 1px solid $lightest-grey;
}
.nav {
    .divider {
        border-bottom: 1px solid $lightest-grey;
        margin: 2rem;
    }
} 
.sidebar {
    border-right: 1px solid $lightest-grey;
    .sidebar-nav {
        padding: 2.5rem 0;
        .nav-item {
            margin: 0 1rem;
            .nav-link {
                border-radius: 28px;
                i {
                    display: none;
                }
                &.active {
                    font-weight: 600;
                    color: $bga-primary;
                }
            }
        }
    }
    .nav-title {
        font-size: 1rem;
        text-transform: none;
    }
    .nav-dropdown-items {
        .nav-item {
            padding: 0;
            .nav-link {
                border-radius: 28px;
            }
        }
    }
}

// Buttons

.bga-btn {
    color: $bga-primary;
    background: transparent;
    border: 1px solid transparent;
    font-size: 16px;
    font-weight: 600;
    border-radius: 0px;
    line-height: 1;
    letter-spacing: 0.2px;
    text-decoration: none;
    height: 48px;
    &.btn-primary {
        padding-right: 32px;
        padding-left: 32px;
        border-radius: 22px;
        color: $white;
        background: $bga-primary-interactive;
        transition: all .4s ease;
        &:hover {
            background: $bga-primary;
            transition: all ease 0.4s;
            border: 1px solid #18335C;
        }
        &:focus {
            box-shadow: 0 0 10px 0 $bga-primary-interactive;
            background: $bga-primary;
            transition: all ease 0.4s;
        }
        &:active {
            background: $black;
        }
    }
}
.btn-primary:not(:disabled):not(.disabled):active {
    background-color: $black;
    color: $white;
}
.btn-link {
    transition: all .3s ease;
    color: $black;
    line-height: 1.5;
    .BgaIcon {
        transition: all .3s ease;
        fill: $black;
        margin-right: 10px;
    }
    &:hover {
        color: $bga-primary;
        .BgaIcon {
            fill: $bga-primary;
        }
    }
}

@keyframes toRightFromLeft {

    30% {
        transform: translate(30%);
    }
    31% {
        opacity: 0;
        transform: translate(-50%);
    }
    100% {
        opacity: 1;
    }
}

@keyframes toLeftFromRight {
    30% {
        transform: translate(-30%);
    }
    31% {
        opacity: 0;
        transform: translate(50%);
    }
    100% {
        opacity: 1;
    }
}