// Here you can add other styles

// Headers
.standard-header {
    padding: 5rem 0 3.875rem;
    h1 {
        font-size: 5.063rem;
        font-weight: 600;
        line-height: 1.2;
        color: $bga-primary;
    }
    .version {
        font-size: .875rem;
        color: $darkest-grey;
        span {
            color: $dark-grey;
        }
    }
}
h2 {
    font-size: 3.375rem;
    font-weight: 600;
    letter-spacing: 0.2px;
    padding-top: 2rem;
    margin-bottom: 2rem;
}
h3 {
    font-size: 2.25rem;
    font-weight: 600;
    letter-spacing: 0.2px;
    padding-top: 2rem;
    margin-bottom: 1.5rem;
}
h4 {
    font-size: 1.5rem;
    font-weight: 600;
    letter-spacing: 0.2px;
}
h5 {
    font-size: 1.250rem;
    font-weight: 600;
    letter-spacing: 0.2px;
}

a {
    color: $link;
    text-decoration: none;
    font-weight: 500;
    display: inline-block;
    &:hover {
        color: $link-hover;
        text-decoration: underline;
    }
}
.external-link {
    .fa {
        padding-left: 4px; 
        font-size: 14px;
    }
}

// Content
.content {
    p {
        font-size: 1.250rem;
        color: $matte-text;
    }
    .intro {
        font-size: 1.5rem;
        border-left: 6px solid $bga-primary-tint2;
        padding: 1rem 2rem;
        font-style: italic;
        margin-left: -36px;
    }
    .demo-block {
        padding: 2rem 0;
    }
    hr {
        margin-bottom: 2rem;
    }
}

@include media-breakpoint-up(sm) {
    .animated {
        padding-left: 5rem;
        padding-right: 5rem;
        max-width: 1024px;
    }
}

// Nav
.app-header.navbar {
    border-top: 4px solid $bga-primary;
    border-bottom: 1px solid $lightest-grey;
}
.nav {
    .divider {
        border-bottom: 1px solid $lightest-grey;
        margin: 2rem;
    }
} 
.sidebar {
    border-right: 1px solid $lightest-grey;
    .sidebar-nav {
        padding: 2.5rem 0;
        .nav-item {
            margin: 0 1rem;
            .nav-link {
                border-radius: 0px;
                i {
                    display: none;
                }
                &.active {
                    font-weight: 600;
                    color: $bga-primary;
                }
            }
        }
    }
    .nav-title {
        font-size: 1rem;
        text-transform: none;
    }
    .nav-dropdown-items {
        .nav-item {
            padding: 0;
            .nav-link {
                border-radius: 28px;
            }
        }
    }
}


// Buttons

.bga-btn {
    color: $bga-primary;
    background: transparent;
    border: 1px solid $bga-primary;
    font-size: 18px;
    font-weight: 600;
    line-height: 1;
    letter-spacing: -0.2px;
    text-decoration: none;
    height: 48px;
    margin: 0 2rem 2rem 0;
    i {
        padding-left: 3px;
        &.left {
            padding-left: 0;
            padding-right: 10px;
        }
    }
    &.btn-primary {
        padding-right: 32px;
        padding-left: 32px;
        border-radius: 6px;
        color: $white;
        background: $bga-primary-interactive;
        border: 1px solid $bga-primary-interactive;
        &:hover {
            background: $bga-primary-hover;
            border: 1px solid $bga-primary-hover;
        }
        &:focus {
            box-shadow: 0 0 10px 0 $bga-primary-interactive;
            background: $bga-primary;
        }
        &:disabled {
            color: $light-grey;
            background: transparent;
            border: 1px solid $light-grey;
            cursor: not-allowed;
        }
    }
    &.btn-default {
        padding-right: 32px;
        padding-left: 32px;
        border-radius: 6px;
        &:hover {
            color: $white;
            background: $bga-primary;

            border: 1px solid $bga-primary;
        }
        &:focus {
            color: $white;
            box-shadow: 0 0 10px 0 $bga-primary-interactive;
            background: $bga-primary;

        }
        &:disabled {
            color: $light-grey;
            background: transparent;
            border: 1px solid $light-grey;
            cursor: not-allowed;
        }
    } 
    &.btn-tertiary {
        border-color: transparent;
        height: 32px;
        border-radius: 2px;
        &:hover {
            color: $bga-primary;
            text-decoration: underline;
            background-color: $white;
        }
        &:focus {
            box-shadow: 0 0 10px 0 $bga-primary-interactive;
            background-color: $white;
        }
        &:disabled {
            color: $light-grey;
            background: transparent;
            cursor: not-allowed;
        }
    }
}
.btn-primary:not(:disabled):not(.disabled):active, .btn-default:not(:disabled):not(.disabled):active {
    background-color: $bga-primary-active;
    color: $white;
    border-color: $bga-primary-active;
}
.btn-link {
    transition: all .3s ease;   
    color: $black;
    line-height: 1.5;
    .BgaIcon {
        transition: all .3s ease;
        fill: $black;
        margin-right: 10px;
    }
    &:hover {
        color: $bga-primary;
        .BgaIcon {
            fill: $bga-primary;
        }
    }
}

@keyframes toRightFromLeft {

    30% {
        transform: translate(30%);
    }
    31% {
        opacity: 0;
        transform: translate(-50%);
    }
    100% {
        opacity: 1;
    }
}

@keyframes toLeftFromRight {
    30% {
        transform: translate(-30%);
    }
    31% {
        opacity: 0;
        transform: translate(50%);
    }
    100% {
        opacity: 1;
    }
}





